<% provide(:title, "Edit user") %>
<div id="inhoud">
  <h1>Update your profile</h1>
    <div class="formParagraph">
      <%= render 'users/form' %>
      <%= f.submit "Save changes", class: "submit" %>
    <% end %>
  </div>
</div>
<div id="inhoudBreak">
</div>