<% provide(:title, 'profiel') %>

<div id="inhoud">
	<div id="pic">
		<%= link_to image_tag(@user.image), root_path %>
	</div>
	<div class="post">
		<aside>
			<section>
				<h1>
					<%= @user.name %>
				</h1>
			</section>
		</aside>
	</div>
	<% flash.each do |message_type, message| %>
       	<div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
</div>
