<div id="menu" class="container">
    <div id="followedTitle">
    	<br />Threads
    </div>
    <div id="followed">
    	<br />Thread 1 <br /> LongThread 2 <br />
    </div>
    <div id="followedMore">
    	<br /><a href="#">Show more</a>
    </div>
    <div id="friendlistTitle">
    	<br />Friends
    </div>
    <div id="friendlist">
    	<br /><%= link_to image_tag("anon.png"),' http://localhost:3000' %>
        <%= link_to "Friend 1",   root_path %>
        <br />
        <br /><%= link_to image_tag("anon.png"),'http://localhost:3000' %>
        <%= link_to "LongNameFriend 2",   root_path %>
        <br/>
   	</div>
</div>